/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 5px;
}



@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: "Asap", sans-serif;
    background-color: #fdfdfe;
}

a {
    color: white;
}

header {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header h1 {
    position: absolute;
    width: 90%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #5eb53b);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 2s;
    transition: all ease-in-out 2s;
}

@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}

header h1:hover {
    background-position: 200%;
}

/* Set a background color and text color for the entire page */

.buttons .button{
    padding: 6px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(71, 71, 207);
    font-weight: bold;
    font-size: 15px;
    margin: 10px 3px;
    cursor: pointer;
    display: inline-block;
}
.buttons .button:hover{
    background-color: rgb(138, 26, 138);
    color: rgb(71, 71, 207);
}

.buttons .button a{
    text-decoration: none;
}


body {

    background-image: url("img/darkgradient.png");
    color: whitesmoke;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Style the header section */
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;

}

/* Style horizontal rules */
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

/* Style the article section */
article {
    margin: 20px 0;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style headings in the article section */
h2 {
    font-size: 24px;
    margin: 20px 0;
}

/* Style the italicized text in the article section */
em {
    font-style: italic;
}

/* Style the unordered list in the article section */
ul {
    list-style: disc;
    margin-left: 20px;
}

/* Style list items in the article section */
li {
    margin-bottom: 10px;
}

/* Style links on hover in the article section */
a:hover {
    text-decoration: underline;
}

/* Style the contact information section */
h2 {
    font-size: 24px;
    margin: 20px 0;
}



/* Style links on hover in the contact information section */
p a:hover {
    text-decoration: underline;
}