/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the whole page */
body {
    background-image: url(img/devback.png);
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
 
a {
    color: white;
}

/* Style the header */
header {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header h1 {
    position: absolute;
    width: 90%;
    font-size: 60px;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #5eb53b);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    animation: animated-gradient 1.5s;
    transition: all ease-in-out 2s;
}

@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}

header h1:hover {
    background-position: 200%;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table header (optional) */
table th {
    
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Style the table rows */
table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Style alternating rows for better readability */


/* Style the table header cell for images (optional) */
table td:first-child {
    width: 100px; /* Adjust the width as needed */
}

/* Style the text in the table */
table td:last-child {
    padding-left: 20px;
}

/* Style the images in the table */
table img {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .profile {
        width: calc(50% - 20px);
        /* Two profiles per row */
    }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
    .profile {
        width: 100%;
        /* One profile per row */
    }
}