/* Reset some default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background image for the body and adjust the text color */
body {
  background-image: url(/img/indexback2.png);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background-image: url(img/indexback1.png);
  margin: 0;
  padding: 1vh;
  font-size: 4vh;
}

.dash {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1vh;
}

/* Apply styles for navigation items in the header */
.dash ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.dash ul li {
  margin: 0vh 2vh;
}

.dash ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f7f710;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.dash ul li:hover::after {
  width: 100%;
}

h1 .dash ul li a {
  text-decoration: none;
  color: white;
}

/* Apply styles for section containers */
section {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 3vh;
  }

  .dash ul li {
    margin: 0vh 1vh;
  }
}
